{% extends "layout.html" %}
{% block body %}
  <h1>Welcome to Meals App</h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  <input type="radio" class="toggle_menu" name="is_active" value="1">Show Active  <input type="radio" class="toggle_menu" name="is_active" value="0">Show Inactive
  <ol class=entries>
  <h2>Your available <span class="active_text">active</span> meals are:</h2>
  {% if meals %}
      <table style="width:550px">
        <tr>
          <th>Meal Title</th>
          <th>Description</th>
          <th>Price</th>
          <th></th>
        </tr>
        {% for meal in meals %}
          <tr class="menu_item active_{{ meal.active }}">
            <td><a href="{{ url_for('meal_detail_page', meal_id=meal.id)}}">{{ meal.title }}</a></td>
            <td>{{ meal.description|safe|truncate(50, True) }}</td>
            <td>{{ meal.price }}</td>
            <td><input type="button" data-val="{{ meal.id }}" class="edit-meals" value="Edit"></td>
          </tr>
          <tr class="hidden" id="meal-{{ meal.id }}">
              <td colspan="4">{% include "meal_edit_page.html" %}
          </tr>
        {% endfor %}
      </table>
  {% else %}
      <em>Unbelievable.  No active meals here so far</em>
  {% endif %}
  <li>
    <a href="{{ url_for('add_meals_page')}}">Add meals</a>
  </li>
  </ol>

{% endblock body %}
